<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inventory Project</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="scripts/inventory2.js" charset="utf-8"></script>
  <link rel="stylesheet" href="scripts/styles.css">
  </head>
  <body>
    <h1>Inventory Project</h1>

<div>
      <input type="text" placeholder='Search' id='searchBar'>
      <button id='searchButton'>Search</button>
      <button id='addButton'>Add to Inventory</button>
        <button id='viewButton'>View Inventory</button>
    </div>

  <h2>Inventory</h2>
<div id='divSearch'>


</div>
      <div class="display">

        </div>
        <div class='searchDiv'>
          <h1>Search Results</h1>
        </div>
  </body>
</html>
